<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HandOnMouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HandOnMouse.Properties.Settings>
            <setting name="Sensitivity" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ContinuousSimVarIncrements" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ReverseDetentWidthInPercent" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SimVarScaleHeightInPixels" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SetMinimumMouseMove" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GaugeOpacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="GaugeFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="GaugeTop" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="GaugeLeft" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GaugeHidden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MappingFile" serializeAs="String">
                <value>Generic mouse for Throttle+Propeller</value>
            </setting>
        </HandOnMouse.Properties.Settings>
    </userSettings>
    <system.diagnostics>
        <trace autoflush="true" indentsize="4">
            <listeners>
                <remove name="Default" />
<!-- 
                <add name="file" type="HandOnMouse.TraceFile, MSFS_HandOnMouse" initializeData="MSFS_HandOnMouse.log" />
-->
            </listeners>
        </trace>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
